name: Run tests and upload coverage

on:
  push:
    branches: [ master ]

jobs:
  test:
    name: Run tests and upload coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      #        with:
      #          fetch-depth: 2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build and generate coverage report
        run: mvn clean verify jacoco:report

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./target/site/jacoco/jacoco.xml
          fail_ci_if_error: false
          verbose: true
